<div class="w-full py-1 my-4 mr-10">
    <h3 class="text-xl font-medium mb-4">Kind</h3>
    <ul class="flex flex-row items-center" id="kind_id">
        <li>
            <label for="id_kind_0">
                <input type="radio" name="kind" value="phc" required id="id_kind_0" {% if form.kind.value == 'phc' %} checked {% endif %} >
                PHC
            </label>
        </li>
        <li class="ml-24">
            <label for="id_kind_1">
                <input type="radio" name="kind" value="chc" required id="id_kind_1" {% if form.kind.value == 'chc' %} checked {% endif %}>
                CHC
            </label>
        </li>
    </ul>
</div>

<div class="h-14 w-3/4 inline-block pl-6 py-1 rounded-2xl bg-white my-4 mr-10">
    <label for="{{ form.name.id_for_label }}" class="block text-sm text-[#6E7191] pt-[2px]">{{ form.name.label }}</label>
    <input 
        type="{{ form.name.widget_type }}" 
        id="{{ form.name.auto_id }}" 
        name="{{ form.name.html_name }}" 
        {% if form.name.value %} value="{{form.name.value}}" {% endif %} 
        placeholder="{{ form.name.form.name.widget.attrs.placeholder }}" 
        class="block w-[95%] h-6 leading-5 text-[16px] text-[#14142B] border-0 outline-0 p-0 focus:ring-0"
    >
    {% include 'components/errors.html' with errors=form.name.errors %}
</div> 

<div class="h-28 w-3/4 inline-block pl-6 py-1 rounded-2xl bg-white my-4 mr-10">
    <label for="{{ form.address.id_for_label }}" class="block text-sm text-[#6E7191] pt-[2px]">{{ form.address.label }}</label>
    <textarea  
        id="{{ form.address.auto_id }}" 
        name="{{ form.address.html_name }}" 
        rows="4"
        class="block w-[95%] leading-5 text-[16px] text-[#14142B] border-0 outline-0 p-0 pt-1 focus:ring-0"
    >{% if form.address.value %}{{form.address.value}}{% endif %}</textarea>
    {% include 'components/errors.html' with errors=form.address.errors %}
</div> 

<div class="w-3/4 mt-4">
    <select name="{{form.ward.html_name}}" id="{{form.ward.auto_id}}" class="w-full h-14 border-0 rounded-[12px] bg-white pt-[4px] pl-5 focus:ring-0">
        <option value="" disabled selected class="pl-4 text-[#6E7191]">Ward</option>
        {% for x, y in form.fields.ward.choices %} 
            <option value="{{ x }}" {% if form.ward.value == x %} selected {% endif %}>{{ y }}</option>
        {% endfor %}
    </select>
    
    {% include 'components/errors.html' with errors=form.ward.errors %}
</div>

<div class="h-14 w-[320px] inline-block pl-6 py-1 rounded-2xl bg-white mt-5 mb-5 mr-8">
    <label for="{{ form.pin_code.id_for_label }}" class="block text-sm text-[#6E7191] pt-[2px]">{{ form.pin_code.label }}</label>
    <input 
        type="{{ form.pin_code.widget_type }}" 
        id="{{ form.pin_code.auto_id }}" 
        name="{{ form.pin_code.html_name }}" 
        {% if form.pin_code.value %} value="{{form.pin_code.value}}" {% endif %} 
        class="block w-[95%] h-6 leading-5 text-[16px] text-[#14142B] border-0 outline-0 p-0 focus:ring-0"
    >
    
    {% include 'components/errors.html' with errors=form.pin_code.errors %}
</div>

<div class="h-14 w-[320px] inline-block pl-6 py-1 rounded-2xl bg-white mt-5 mb-5">
    <label for="{{ form.phone_number.id_for_label }}" class="block text-sm text-[#6E7191] pt-[2px]">{{ form.phone_number.label }}</label>
    <input 
        type="{{ form.phone_number.widget_type }}" 
        id="{{ form.phone_number.auto_id }}" 
        name="{{ form.phone_number.html_name }}" 
        {% if form.name.value %} value="{{form.phone_number.value}}" {% endif %} 
        class="block w-[95%] h-6 leading-5 text-[16px] text-[#14142B] border-0 outline-0 p-0 focus:ring-0"
    >
    
    {% include 'components/errors.html' with errors=form.phone_number.errors %}
</div>

