{% extends 'base.html' %}
{% block title %} Patients {% endblock %}

{% block content %}
    {% include 'components/sidenav.html' %}
    <div class="ml-[320px] bg-primary_bg min-h-screen px-12 py-8">
        <h2 class="text-3xl text-primary_color font-extrabold">{{ object }}</h2>

        <div class="flex flex-row items-center justify-between mt-12">
            <h3 class="text-2xl text-primary_color font-bold">Personal Information</h3>
            {% include 'components/buttons/contained_small.html' with url_namespace='patients:patient_update' pk=object.id text='Edit' %}
        </div>

        <div class="flex flex-row justify-between my-8">
            <div class="bg-white rounded-2xl px-8 py-4 w-[calc(100%-25rem)] min-h-[320px] flex flex-col justify-center">
                <h3 class="text-lg font-bold text-primary_color">{{ object }}</h3>
                <p class="text-[15px] text-grey_light font-medium">{{ object.address }}</p>
                <div class="flex flex-row pt-4 justify-between">
                    <div class="">
                        <h4 class="text-[15px] text-grey_dark font-bold">Phone Number</h4>
                        <span class="text-[15px] text-link_color font-medium">{{ object.phone_number }}</span>

                        <h4 class="text-[15px] text-grey_dark font-bold mt-2">Gender</h4>
                        <span class="text-[15px] text-primary_color">{{ object.gender }}</span>

                        <h4 class="text-[15px] text-grey_dark font-bold mt-2">Last Visit</h4>
                        <span class="text-[15px] text-primary_color">2 March 2022 @ 11am</span>
                    </div>
                    <div class="">
                        <h4 class="text-[15px] text-grey_dark font-bold">Emergency Phone Number</h4>
                        <span class="text-[15px] text-link_color font-medium">{{ object.emergency_phone_number|default:'Not given' }}</span>

                        <h4 class="text-[15px] text-grey_dark font-bold mt-2">Facility</h4>
                        <span class="text-[15px] text-primary_color">{{ object.facility }}</span>

                        <h4 class="text-[15px] text-grey_dark font-bold mt-2">Next Visit</h4>
                        <span class="text-[15px] text-primary_color">2 April 2022 @ 11am</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-between">
                <a href="{% url 'visits:schedule_visit' uid=object.pk %}" class="text-2xl text-primary_color bg-white font-bold rounded-2xl py-14 px-20 justify-between text-center">Visits</a>
                <a href="{% url 'treatments:treatment_list' uid=object.pk %}" class="text-2xl text-primary_color bg-white font-bold rounded-2xl py-14 px-20 justify-between">Treatments</a>
            </div>
        </div>
        <div class="w-[calc(100%-25rem)] flex flex-row justify-between">
            <a href="{% url 'patients:patient_family_list' uid=object.pk %}" class="text-2xl text-primary_color bg-white font-bold rounded-2xl py-14 px-20 justify-between text-center">Family Details</a>
            <a href="{% url 'treatments:disease_history_list' uid=object.pk %}" class="text-2xl text-primary_color bg-white font-bold rounded-2xl py-14 px-20 justify-between">Disease History</a>
        </div>
    </div>
{% endblock %}