{% for field in form %}
    {% if field.html_name == 'address' %}
        <textarea 
            name="{{ field.html_name }}" 
            id="{{ field.auto_id }}" 
            required
            placeholder="{{ field.label }}"
            class="w-[calc(80%+2.5rem)] h-32 my-4 py-3 px-5 placeholder:text-sm placeholder:text-grey_light rounded-2xl border-0 focus:ring-0" 
        >{{ field.value|default:'' }}</textarea>
    
    {% elif field.html_name == 'gender' %} 
        <h3 class="w-full text-2xl font-medium text-primary_color my-2">Gender</h3>
        <ul class="flex flex-row items-center" id="kind_id">
            <li>
                <label for="id_gender_0">
                    <input type="radio" name="gender" value="Male" required id="id_gender_0" checked>
                    Male
                </label>
            </li>
            <li class="ml-24">
                <label for="id_gender_1">
                    <input type="radio" name="gender" value="Female" required id="id_gender_1">
                    Female
                </label>
            </li>
            <li class="ml-24">
                <label for="id_gender_2">
                    <input type="radio" name="gender" value="Other" required id="id_gender_2">
                    Other
                </label>
            </li>
        </ul>
    
    {% elif field.widget_type == 'select' %} 
        <select title="Select {{ field.html_name }}" name="{{ field.html_name }}" id="{{field.auto_id}}" required class="h-14 min-w-[250px] w-2/5 rounded-2xl border-0 pl-5 my-3 mr-10 focus:ring-0">
            <option value="" disabled selected>Select {{ field.html_name }}</option>
            {% for x, y in field.field.choices %} 
                <option value="{{ x }}" {% if field.value == x %} selected {% endif %}>{{ y }}</option>
            {% endfor %}
        </select>
        
    {% else %}
        <div class="h-14 min-w-[250px] w-2/5 inline-block pl-6 py-1 rounded-2xl bg-white my-4 mr-10">
            <label for="{{ field.id_for_label }}" class="block text-sm text-[#6E7191]">{{ field.label }}</label>
            <input 
                type="{{ field.widget_type }}" 
                id="{{ field.auto_id }}" 
                name="{{ field.html_name }}" 
                {% if field.html_name == 'birth_date' %} value="{{ field.value|date:'Y-m-d' }}" {% else %} value="{{ field.value|default:'' }}" {% endif %} 
                {% if field.field.required %} required {% endif %}
                placeholder="{{ field.field.widget.attrs.placeholder }}" 
                class="block w-[90%] h-6 leading-5 text-[16px] text-[#14142B] border-0 outline-0 p-0 focus:ring-0"
            >
        </div>
    {% endif %}

    {% include 'components/errors.html' with errors=field.errors %}

{% endfor %}

