{% extends 'base.html' %}
{% block title %} Update Patient {% endblock %}

{% block content %}
    {% include 'components/sidenav.html' %}
    <div class="ml-[320px] bg-primary_bg min-h-screen py-8 px-[10%]">
        <h1 class="text-4xl text-primary_color font-extrabold">Visit History</h1>
        
        <h2 class="text-2xl text-primary_color font-bold mt-12">Patient Name</h2>
        <p class="text-lg text-grey_dark font-medium max-w-[350px]">Kauriya Bazar, Gonda</p>

        <div class="w-full flex flex-row flex-wrap mt-8">
            {% for visit in visit_histories %}
                {% include 'patients/visit_history_card.html' with object=visit %}
            {% endfor %}
        </div>
    </div>
{% endblock %}