<div class="max-w-[350px] w-[90%] bg-white rounded-2xl my-3 mr-12 py-6 px-5 flex flex-col">
    <div class="flex flex-row w-full justify-between">
        <div class="">
            <p class="text-[15px] text-grey_dark font-semibold">Visit By</p>
            <p class="text-sm text-primary_color">Alex</p>
        </div>
        <div class="">
            <p class="text-[15px] text-grey_dark font-semibold">Visit Date</p>
            <p class="text-sm text-primary_color">22 Mar 2021</p>
        </div>
    </div>
    <div class="mt-5 flex flex-row">
        {% include 'components/buttons/contained_small.html' with url='' text='View Details' %}
    </div>
</div>