<div class="w-full py-12 flex flex-row items-center justify-between">
    <h2 class="text-3xl text-primary_color font-extrabold">{{ object_name }}</h2>
    <div class="flex flex-row items-center">
        <a href="/users/delete/{{ object_id }}" class="mr-1 text-primary_color border-2 border-primary_color rounded-lg text-sm font-semibold px-4 py-2">Delete</a>
        <a href="/users/update/{{ object_id }}" class="ml-1 bg-primary_color text-white border-2 border-primary_color rounded-lg text-sm font-semibold px-6 py-2">Edit</a>
    </div>
</div>