<div class="pt-6 px-8">
    <div class="flex flex-row justify-between my-6">
        <h2 class="text-3xl font-extrabold text-primary_color">Facility</h2>
        <a href="/facilities/create" class="w-24 h-11 text-sm bg-primary_color text-white font-bold rounded-lg flex flex-row items-center justify-center">New</a>
    </div>
    <!-- <div class="flex flex-row justify-between my-8">
        <form action="" method="get" class="relative w-[320px] rounded-xl">
            <label for="search" class="absolute p-0 border-0 h-px w-px overflow-hidden">Search facility</label>
            <input 
                type="text"  
                id="search" 
                name="query_param" 
                {% if request.GET.query_param %} value="{{ request.GET.query_param }}" {% endif %}
                placeholder="Search facilities"
                autofocus 
                class="relative w-full h-14 rounded-xl px-4 border-0 outline-0 text-[16px] z-10 focus:ring-0"
            >
            <button type="submit" id="search-btn" class="hidden absolute top-0 right-0 w-16 h-14 border-0 text-lg text-white font-bold rounded-tr-xl rounded-br-xl bg-primary_color tracking-wider">Go</button>
        </form>
        <div class="">
            <input type="text">
            <input type="text">
        </div>
    </div> -->
</div>