<a href="/users/{{ user.id }}" class="flex flex-row items-center w-[45%] rounded-2xl bg-white py-3 my-4">
    <img class="w-14 h-14 rounded-full mx-8" src="https://images.unsplash.com/photo-1644982647711-9129d2ed7ceb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTgwOTN8MXwxfHNlYXJjaHwxfHxwcm9maWxlfGVufDB8fHx8MTY0NTEyMTE1NQ&ixlib=rb-1.2.1&q=80&w=1080" alt="profile picture">
    <div class="w-full">
        <div class="flex flex-row justify-between w-full">
            <h3 class="text-xl font-bold text-primary_color">{{ user.get_full_name}}</h3>
            <p class="text-xs font-bold text-primary_color px-4 py-[3px] rounded-2xl bg-secondary_bg flex flex-row items-center mr-5">{{ user.get_role_display }}</p>
        </div>
        <p class="text-[16px] font-medium text-primary_color">{{ user.facility }}</p>
        <p class="text-sm font-semibold text-primary_color">{{ user.phone_number|default:'Not provided' }}</p>
        <p class="text-sm font-semibold text-primary_color">{{ user.email }}</p>
    </div>
</a>