{% extends 'base.html' %}
{% block title %} Visits {% endblock %}

{% block content %}
    {% include 'components/sidenav.html' %}
    <div class="ml-[320px] bg-primary_bg min-h-screen px-[5%] pt-12" id="wrapper">
        <h2 class="text-4xl font-extrabold text-primary_color">Pending Visits</h2>
        <h3 class="text-2xl font-bold text-primary_color mt-12">Today <span class="text-grey_dark">{{ today|length }} visits</span></h3>
        <div class="flex flex-row flex-wrap">
            {% for item in today %}
            <div class="min-w-[300px] w-[30%] bg-white rounded-2xl px-6 py-5 mr-10 mt-6">
                <h3 class="text-xl font-bold text-primary_color">{{ item.patient }}</h3>
                <p class="text-[15px] text-grey_dark">{{ item.patient.address }}</p>
                <p class="mt-2 text-[15px] text-primary_color">{{ item.patient.age }} years old</p>
                <p class="mt-1 text-[15px] text-link_color font-semibold">{{ item.patient.phone_number }}</p>
                <div class="flex flex-row mt-4">
                    <button type="button" data-unschedule-url="{% url 'visits:unschedule_visit' uid=item.patient.pk vid=item.pk %}" class="bg-white text-primary_color border-2 border-primary_color rounded-lg text-sm font-semibold px-7 py-2">Unschedule</button>
                    <a href="/visits/{{ item.patient.pk }}/visit/{{ item.id }}" class="ml-3 bg-primary_color text-white border-2 border-primary_color rounded-lg text-sm font-semibold px-7 py-2">Visit</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <h3 class="text-2xl font-bold text-primary_color mt-12 w-full">Tomorrow <span class="text-grey_dark">{{ tomorrow|length }} visits</span></h3>
        <div class="flex flex-row flex-wrap">
            {% for item in tomorrow %}
            <div class="min-w-[300px] w-[30%] bg-white rounded-2xl px-6 py-5 mr-10 mt-6">
                <h3 class="text-xl font-bold text-primary_color">{{ item.patient }}</h3>
                <p class="text-[15px] text-grey_dark">{{ item.patient.address }}</p>
                <p class="mt-2 text-[15px] text-primary_color">{{ item.patient.age }} years old</p>
                <p class="mt-1 text-[15px] text-link_color font-semibold">{{ item.patient.phone_number }}</p>
                <div class="flex flex-row mt-4">
                    <button type="button" data-unschedule_url="{% url 'visits:unschedule_visit' uid=item.patient.pk vid=item.pk %}" class="bg-white text-primary_color border-2 border-primary_color rounded-lg text-sm font-semibold px-7 py-2">Unschedule</button>
                    <a href="/visits/{{ item.patient.pk }}/visit/{{ item.id }}" class="ml-3 bg-primary_color text-white border-2 border-primary_color rounded-lg text-sm font-semibold px-7 py-2">Visit</a>
                </div>
            </div>
            {% endfor %}

        <h3 class="text-2xl font-bold text-primary_color mt-12 w-full">Next Week <span class="text-grey_dark">{{ next_week|length }} visits</span></h3>
        <div class="flex flex-row flex-wrap">
            {% for item in next_week %}
            <div class="min-w-[300px] w-[30%] bg-white rounded-2xl px-6 py-5 mr-10 mt-6">
                <h3 class="text-xl font-bold text-primary_color">{{ item.patient }}</h3>
                <p class="text-[15px] text-grey_dark">{{ item.patient.address }}</p>
                <p class="mt-2 text-[15px] text-primary_color">{{ item.patient.age }} years old</p>
                <p class="mt-1 text-[15px] text-link_color font-semibold">{{ item.patient.phone_number }}</p>
                <div class="flex flex-row mt-4">
                    <button type="button" data-unschedule-url="{% url 'visits:unschedule_visit' uid=item.patient.pk vid=item.pk %}" class="bg-white text-primary_color border-2 border-primary_color rounded-lg text-sm font-semibold px-7 py-2">Unschedule</button>
                    <a href="/visits/{{ item.patient.pk }}/visit/{{ item.id }}" class="ml-3 bg-primary_color text-white border-2 border-primary_color rounded-lg text-sm font-semibold px-7 py-2">Visit</a>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    const wrapper = document.getElementById('wrapper');
    wrapper.addEventListener('click', event => {
        const isButton = event.target.nodeName === 'BUTTON';
        if (!isButton) {
            return;
        }

        const url = event.target.dataset.unschedule_url
        $.ajax({
            url: url,
            success: data => {
                window.location.reload();
            }
        })
    })
    $.proxy()
</script>
{% endblock %}