{% extends 'base.html' %}
{% block title %} Visit {% endblock %}

{% block content %}
    {% include 'components/sidenav.html' %}
    <div class="ml-[320px] bg-primary_bg min-h-screen px-[5%] pt-12">
        <h2 class="text-3xl font-extrabold text-primary_color">Visit</h2>
        <div class="w-full mt-12 flex flex-row flex-wrap justify-between">
            <a href="{% url 'visits:treatment_note' uid=view.kwargs.uid vid=view.kwargs.vid %}" class="min-w-[360px] w-2/5 h-[190px] bg-white rounded-2xl flex flex-row items-center justify-center text-2xl text-primary_color font-extrabold">Treatment Notes</a>
            <a href="{% url 'visits:create_patient_health_info' uid=view.kwargs.uid vid=view.kwargs.vid %}" class="min-w-[360px] w-2/5 h-[190px] bg-white rounded-2xl flex flex-row items-center justify-center text-2xl text-primary_color font-extrabold">Health Information</a>
        </div>
    </div>
{% endblock %}