{% extends 'base.html' %}
{% block title %} User Detail {% endblock %}

{% block content %}
    {% include 'components/sidenav.html' %} 
    <div class="ml-[320px] bg-primary_bg min-h-screen px-[20%]">
        {% include 'components/details_header.html' %}

        <h3 class="text-xl text-primary_color font-bold">{{ object.pretty_kind }}</h3>
        
        <div class="h-14 w-4/5 inline-block pl-6 py-1 rounded-2xl bg-white my-4 mr-10">
            <label class="block text-sm text-[#6E7191] pt-[2px]">Name</label>
            <span class="block w-[95%] h-6 leading-5 text-[16px] text-[#14142B] border-0 outline-0 p-0 focus:ring-0">{{ object.name }}</span>
        </div> 
        
        <div class="h-28 w-4/5 inline-block pl-6 py-1 rounded-2xl bg-white my-4 mr-10">
            <label class="block text-sm text-[#6E7191] pt-[2px]">Address</label>
            <span class="block w-[95%] h-20 leading-5 text-[16px] text-[#14142B] border-0 outline-0 p-0 pt-2 focus:ring-0">{{ object.address }}</span>
        </div> 
        
        <div class="h-14 w-4/5 inline-block pl-6 py-1 rounded-2xl bg-white my-4 mr-10">
            <label class="block text-sm text-[#6E7191] pt-[2px]">Ward</label>
            <span class="block w-[95%] h-6 leading-5 text-[16px] text-[#14142B] border-0 outline-0 p-0 focus:ring-0">{{ object.ward }}</span>
        </div> 
        
        <div class="w-4/5 flex flex-row justify-between">
            <div class="h-14 w-[46%] inline-block pl-6 py-1 rounded-2xl bg-white mt-3 mb-5">
                <label class="block text-sm text-[#6E7191] pt-[2px]">Pin code</label>
                <span class="block w-[95%] h-6 leading-5 text-[16px] text-[#14142B] border-0 outline-0 p-0 focus:ring-0">{{ object.pin_code }}</span>
            </div>
    
            <div class="h-14 w-[46%] inline-block pl-6 py-1 rounded-2xl bg-white mt-3 mb-5">
                <label class="block text-sm text-[#6E7191] pt-[2px]">Phone number</label>
                <span class="block w-[95%] h-6 leading-5 text-[16px] text-[#14142B] border-0 outline-0 p-0 focus:ring-0">{{ object.phone_number }}</span>
            </div>
        </div>

    </div>
{% endblock %}