{% extends 'base.html' %}
{% block title %} Users {% endblock %}

{% block content %}
    {% include 'components/sidenav.html' %}
    <div class="ml-[320px] bg-primary_bg h-screen px-12">
        {% include 'components/list_header.html' with header='Users' href_url='/users/create' %}
        <div class="flex flex-row flex-wrap items-center">
            {% for user in users %} 
                {% include 'components/user_card.html' with user=user %}
            {% endfor %}
        </div>
    </div>
{% endblock %}