{% load static tailwind_tags %}

{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Behold My Awesome Project!">
    <meta name="author" content="Rahul Tiwari">
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    <title>{% block title %}{% endblock title %}</title>

    {% tailwind_css %}
    {% block styling %}{% endblock styling %}
    <style>
        textarea {
            resize: none;
        }
    </style>
  </head>

    <body class="font-serif tracking-wider">
        {% block content %}
        {% endblock %}

        <script src="https://use.fontawesome.com/b26e48998e.js"></script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
